<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LogZero</title>
  <!-- bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/60f88a6b90.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1 class="atitle left">logzero</h1>
  <h1 class="date"><%=listTitle%></h1>
  <div class="date">
    <form action="/selectDate" method="post">
    <label class="date" for="Date">Date:</label>
    <input class="date input-date" type="date" id="date" name="date">
    <input type="submit" class="btn submit-button">
    </form>
  </div>
  <form action="/add" method="post">
  <div class="box">
    <table class="table">
      <thead class="table-head">
        <tr>
          <th scope="col">Roll Number</th>
          <th scope="col">Name</th>
          <th scope="col">PRN Number</th>
          <th scope="col">Attendance Status</th>
        </tr>
      </thead>
      <tbody>
          <%for(var i=0;i<studentList.length;i++){%>
          <tr>
            <th scope="row"><%=studentList[i].roll_number%></th>
            <td><%=studentList[i].name%></td>
            <td><%=studentList[i].prn_number%></td>
            <td>
              <input class="attendance-status radio-button" type="radio" name="status[<%=i%>]" value="Present" checked>
              <label class="attendance-status" for="Present">Present</label>
              <input class="attendance-status radio-button" type="radio" name="status[<%=i%>]" value="Absent">
              <label class="attendance-status" for="Absent">Absent</label>
            </td>
          </tr>
          <%}%>
      </tbody>
    </table>
    <button type="submit" name="button" class="btn btn-lg submit-button">Submit</button>
  </div>
  </form>
</body>

</html>
